@import "../../styles/variables";

.categories {
  padding: 1rem;
  background-color: $main-blue;
  &__content {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
  }
  &--active {
    border: 0.5px solid $main-pink;
  }
}
