@import "variables";
@import "typography";

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-size: $font-size-x-large;
}
h6 {
  margin: 0;
  font-size: $font-size-xx-large;
  color: $main-black;
}
h4 {
  margin: 0;
  color: $main-black;
}
#nprogress .bar {
  background: $main-blue;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
