$Helvetica-Neue-Bold: "Helvetica-Neue-Bold";
$Helvetica-Neue-Regular: "Helvetica-Neue-Regular";

$font-size-x: 11px;
$font-size-x-small: 12px;
$font-size-x-medium: 14px;
$font-size-x-large: 16px;
$font-size-xx-large: 18px;

$main-white: rgb(255, 255, 255);
$main-pink: rgb(230, 82, 138);
$main-purple: rgb(161, 117, 211);
$main-black: rgb(29, 29, 38);
$main-blue: #211f61;
$main-grey: #a6a6a6;

$mobile: 576px;
$tablet: 767px;
