@font-face {
  font-family: "Helvetica-Neue-Bold";
  font-weight: 600;
  font-style: normal;
  src: url("../static/fonts/HelveticaNeueBold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica-Neue-Regular";
  font-style: normal;
  src: url("../static/fonts/HelveticaNeueRegular.woff") format("woff");
}
